{{left_sidebar_enabled=False}}
{{right_sidebar_enabled=False}}
{{extend 'layout.html'}}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="{{=URL('static','js/modernizr-2.8.3.min.js')}}"></script>

</head>
  <body>


{{block center}}

<form action="" enctype="multipart/form-data" method="post">
  <input name="_formname" type="hidden" value="image_form">
  <input class="string" name="image_title" type="text" value="">
  <input class="upload" name="image_file" type="file">
  <input type="submit" value="Submit">
</form>

<ul>
{{for image in images:}}
  <li>
      <a href="{{=URL(f='link', args=image.ifile)}}">
        <img src="{{=URL(f='link', args=image.ifile)}}"/>
        {{image.title}}
      </a>
      <a href="{{=URL(f='download', args=image.ifile)}}">
        [Download]
      </a>
  </li>
  {{pass}}
</ul>

{{end}}

{{block right_sidebar}}
{{end}}

{{block left_sidebar}}
{{end}}

</body>
</html>
