{{response.files.append(URL('static','css/index.css'))}}
{{left_sidebar_enabled=False}}
{{right_sidebar_enabled=False}}
{{extend 'layout.html'}}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- script src="{{=URL('static','js/modernizr-2.8.3.min.js')}}"></script -->

</head>
  <body>


{{block center}}

<div class="container-fluid text-center">
  <h1>Overview</h1>
  <p>There are two free tools available on this website</p>
   <h2>PLL Designer</h2>
    <p>This tool is for designing and simulating Phase-Locked Loops (PLL). 
    Users can design the loop filter components based on desired loop bandwidth and
    phase margin. Phase noise is also simulated based on constants found in 
    most data sheets for PLL ICs.</p>
    <h3>Feature List</h3>
    <ul>
      <li>loop filter design</li>
      <ul>
        <li>2nd order passive</li>
        <li>3rd order passive</li>
        <li>4th order passive</li>
        <li>2nd order active (not yet supported)</li>
        <li>3rd order active (not yet supported)</li>
        <li>4th order active (not yet supported)</li>
      </ul>
      <li>phase noise simulation</li>
    </ul>
   <h2>S Plotter</h2>
   <p>With the S Plotter, users can upload touchstone files and view them in the text area.
   You can choose which format to display the s-parameter data: dB/angle, magnituge/angle or real/imaginary (coming soon).
   </p>
</div>
{{end}}

{{block right_sidebar}}
{{end}}

{{block left_sidebar}}
{{end}}

</body>
</html>
