{{response.files.append(URL('static','css/s_plotter.css'))}}
{{response.files.append(URL('static','js/s_plot.js'))}}
{{extend 'layout.html'}}
{{left_sidebar_enabled=False}}
{{right_sidebar_enabled=False}}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="{{=URL('static','js/modernizr-2.8.3.min.js')}}"></script>

</head>
<body>


{{block center}}


<div class="container-fluid text-center">

  <div>
    <h2>Touchstone Upload</h2>
        {{=form}}
      <button type="button" id="plotBtn" class="btn btn-default" OnClick="plot()" >plot</button>
      <button type="button" id="resetBtn" class="btn btn-default" onClick="resetScale()">reset</button>
  </div>

  <div class="panel with-nav-tabs panel-default plot-panel">
    <ul class="nav nav-tabs">
      <li class="active"><a data-toggle="tab" href="#logMagDiv">dB/angle</a></li>
      <li class="hidden"><a data-toggle="tab" href="#magAngleDiv">magnitude/angle</a></li>
      <li class="hidden"><a data-toggle="tab" href="#realImageDiv">real/imaginary</a></li>
      <li class="hidden"><a data-toggle="tab" href="#smithChartDiv">Smith Chart</a></li>
    </ul>

    <div class="tab-content">
      <div id="logMagDiv" class="tab-pane fade in">
        <div id="logMagPlot" class="svg-container">
        </div>
      </div>

      <div id="magAngleDiv" class="tab-pane fade in">
        <div id="magAnglePlot" class="svg-container">
        </div>
      </div>

      <div id="realImageDiv" class="tab-pane fade in">
        <div id="realImagPlot" class="svg-container">
        </div>
      </div>

      <div id="smithChartDiv" class="tab-pane fade in">
        <div id="smithChartPlot" class="svg-container">
        </div>
      </div>
    </div>

  </div>

  <div id="s2p data" >
    <textarea id="file_data" rows=50 cols=120 >
      {{=file_data}}
    </textarea>
  </div>

  <div id="form_vars_file" class="hidden">
    <h2>submitted variables</h2>
      {{=BEAUTIFY(request.vars)}}
  </div>
  <div id="accepted_vars" class="hidden">
    <h2>accepted variables</h2>
      {{=(form.vars)}}
  </div>
  <div id="errors_in_form" class="hidden">
    <h2>form errors</h2>
      {{=BEAUTIFY(form.errors)}}
  </div>
</div>
{{end}}

{{block right_sidebar}}
{{end}}

{{block left_sidebar}}
{{end}}


</body>

</html>
