{{response.files.append(URL('static','css/s_plotter.css'))}}
{{response.files.append(URL('static','js/s_plot.js'))}}
{{extend 'layout.html'}}
{{left_sidebar_enabled=False}}
{{right_sidebar_enabled=False}}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="{{=URL('static','js/modernizr-2.8.3.min.js')}}"></script>

</head>
<body>


{{block center}}

    <!-- form action = "#" method="post" enctype="multipart/form-data"/>
      <input name="_formname" type="hidden" value="ts_form"/>
      <input class="upload" type="file" id="file" name="file" />
      <input type="submit" id="plotBtn" class="btn btn-default" OnClick="plot()" />
    </form -->

<div class="container-fluid text-center">
  <div>
    <h2>Touchstone Upload</h2>
        {{=form}}
        <button type="button" id="plotBtn" class="btn btn-default" OnClick="plot()" >plot</button>
  </div>
  <div id="s2p data" >
    <textarea id="file_data" rows=50 cols=100 >
      {{=file_data}}
    </textarea>
  </div>
  <div id="form_vars_file" >
    <h2>submitted variables</h2>
      {{=BEAUTIFY(request.vars)}}
  </div>
  <div id="accepted_vars" >
    <h2>accepted variables</h2>
      {{=(form.vars)}}
  </div>
  <div id="errors_in_form" >
    <h2>form errors</h2>
      {{=BEAUTIFY(form.errors)}}
  </div>
</div>
{{end}}

{{block right_sidebar}}
<div class="container-fluid text-center">
  <h1>ADS</h1>
  <h1>ADS</h1>
  <h1>ADS</h1>
</div>

<div class="container-fluid text-center">
</div>
{{end}}

{{block left_sidebar}}
<div class="container-fluid text-center">
  <h1>ADS</h1>
  <h1>ADS</h1>
  <h1>ADS</h1>
</div>
{{end}}


</body>

</html>
