{{response.files.append(URL('static','css/simple-graph.css'))}}
{{response.files.append(URL('static','js/simple-graph.js'))}}
{{extend 'layout.html'}}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
  <title>One Graph</title>
  <!-- script src="{{=URL('static','js/modernizr-2.8.3.min.js')}}"></script -->
  <script type="text/javascript" src="http://mbostock.github.com/d3/d3.v2.js"></script>
</head>
<body>

<div class="container-fluid text-center">

  <div>
    <h2>SPLOTR</h2>
    {{=form}}
  </div>

  <div >
    <button type="button" id="plotBtn" class="btn btn-default" OnClick="plot()" >plot</button>
  </div>
  <div >
  <div class="hidden">
    <h2>Submitted Variables</h2>
    {{=BEAUTIFY(request.vars)}}
    <h2>Accepted Variables</h2>
    {{=BEAUTIFY(form.vars)}}
    <h2>Errors in form</h2>
    {{=BEAUTIFY(form.errors)}}
  </div>

  </head>
  <body>
    <div id="chart1" class="chart"></div>
    <script type="text/javascript">
      graph = new LogMagPlot("chart1", {
          "xmax": 6e9, "xmin": 0,
          "ymax": 20, "ymin": -50, 
          "title": "S Parameters",
          "xlabel": "Frequency",
          "ylabel": "dB"  
        });
    </script>
  </div>
  <div id="s2p data" >
    <textarea id="file_data" rows=50 cols=120 >
      {{=file_data}}
    </textarea>
  </div>
  </body>
</html>
