@charset "UTF-8";


.pll-form-input {
  width: 80px;
  background:#00FF00;
  border:2px solid black;
}


.pll-component-input {
  width: 90px;
  background:#C0C0C0;
  border:2px solid black;
}
.diagram-container {
  width: 100%;
  position:relative;
  /*background-color:#2ec771;*/
  border:2px solid black;
  min-width: 550px;
  max-width: 700px; 
}

